GLPI_IMAGE=abed4/glpi:11.0.6

GLPI_DB_NAME=glpi
GLPI_DB_USER=glpi
GLPI_DB_PASSWORD=change_me
GLPI_DB_ROOT_PASSWORD=change_me_root

GLPI_HOST=glpi.example.com

TRAEFIK_NETWORK=proxy
TRAEFIK_CERTRESOLVER=letsencrypt
TRAEFIK_MIDDLEWARES=secure-headers@file

GLPI_CRON_INTERVAL=300
