# environment
.env
.env.*
.prod.*

# keep example env
!.env.example

# secrets
secrets/
acme.json
*.key
*.pem

# logs
logs/
*.log

# database
*.sql
*.sql.gz

# volumes
data/
backup/

# docker files used locally
docker-compose.yaml

# system
.DS_Store
Thumbs.db

# editor
.vscode/
.idea/
